songlist{
    background-color: #C1C7E6;
    width:100%;

}

song {
    background-color: #FFB366;
    display: block;
    margin-bottom: 30pt;
    margin-left: 0;
}

title,artist,genre,year {
    background-color: #D7B0FF;
    color:#4A9EFF;
    display: block;
    margin-left: 10pt;
}
